<h2>About This Game</h2>

<p>
	This game was developed as a part of <a href="www.gotealeaf.com">Tealeaf Academy's</a>
	Ruby on Rails courses. This game is the result of a month's work learning Ruby,
	Object Oriented Programming, and basic web development.
</p>