<h2>Contact The Developer</h2>

<p>This website and game were developed by Jack Collins. For more information, please see
	<a href="www.blueskyflyer.github.io">my blog</a> or send me an email at blueskyflyer2@gmail.com
</p>