<!DOCTYPE html>
<html>
  <body>
    <h2>Welcome to Jack's Blackjack</h2>

    <p>Let's play some Blackjack!</p>
    <p>
    	<% if session[:player_name] %>
        <a class="btn btn-success" href="/game">Continue Your Game</a>
  	  <% end %>
  	</p>
  	<p>
  	  <a class="btn btn-primary" href="/new_player">Start a New Game</a>
    </p>
  </body>
</html>