<h3>What's your name?</h3>
<form action="/new_player" method="post">
  <input type="text" placeholder="Name..." name="player_name" id="player_name_field" />
  <br/>
  <input type="submit" class="btn" id="new_player_btn"/>
</form> 
